---
summary: I’m a programmer and this is my website and I hope that you like it.
---

.index
  = h1

  %ul.links
    %li
      %a{:href => "http://twitter.com/aanand"} Twitter
    %li
      %a{:href => "http://github.com/aanand"} Github
    %li
      %a{:href => "mailto:aanand.prasad@gmail.com"} Email

  %p
    I’m a programmer and this is my website and I hope that you like it. Here are the articles that are on this site which I have written using my fingers:

  .articles
    - sorted_articles.each do |item|
      .article
        .metadata
          .created= time_tag(item)

        %a.title{ :href => item.path }= item[:title]

        = maruku(item[:summary])

