---
summary: I’m a web developer and this is my website and I hope that you like it.
---

.full
  %p
    Hello. There’s not much to see here yet. But look, here’s an article:

  .index
    - articles.each do |item|
      .article.summary
        %a.title{ :href => item.path }= item[:title]
        = time_tag(item)
        = maruku(item[:summary])

