@import url(http://fonts.googleapis.com/css?family=Lato:300,700,300italic|Ubuntu+Mono|Lobster);
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic) (-webkit-min-device-pixel-ratio: 2);
.index {
  width: 648px;
  margin: 40px auto;
}
.index .projects, .index .articles {
  margin-left: -40px;
  font-size: 0px;
}
.index .project, .index .article {
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
  width: 304px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.content {
  margin: 60px auto;
  max-width: 648px;
}
