@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

.hll {
  background-color: #ffffcc;
}

.c {
  color: #666666;
  background-color: #ffffff;
}

/* Comment */
.err {
  color: #404040;
  background-color: #ffffff;
}

/* Error */
.g {
  color: #404040;
  background-color: #ffffff;
}

/* Generic */
.k {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword */
.l {
  color: #404040;
  background-color: #ffffff;
}

/* Literal */
.n {
  color: #404040;
  background-color: #ffffff;
}

/* Name */
.o {
  color: #404040;
  background-color: #ffffff;
}

/* Operator */
.x {
  color: #404040;
  background-color: #ffffff;
}

/* Other */
.p {
  color: #404040;
  background-color: #ffffff;
}

/* Punctuation */
.cm {
  color: #666666;
  background-color: #ffffff;
}

/* Comment.Multiline */
.cp {
  color: #e06800;
  font-weight: bold;
  background-color: #ffffff;
}

/* Comment.Preproc */
.c1, .article code {
  color: #666666;
  background-color: #ffffff;
}

/* Comment.Single */
.cs {
  color: #666666;
  background-color: #ffffff;
}

/* Comment.Special */
.gd {
  color: #4848ff;
  background-color: #ffd0ff;
}

/* Generic.Deleted */
.ge {
  color: #404040;
  text-decoration: underline;
  background-color: #ffffff;
}

/* Generic.Emph */
.gr {
  color: #ffffff;
  font-weight: bold;
  background-color: #666666;
}

/* Generic.Error */
.gh {
  color: #0050a0;
  background-color: #c0e8ff;
}

/* Generic.Heading */
.gi {
  color: #4848ff;
  background-color: #ffd0ff;
}

/* Generic.Inserted */
.go {
  color: #00a0c0;
  font-weight: bold;
  background-color: #ececec;
}

/* Generic.Output */
.gp {
  color: #404040;
  background-color: #ffffff;
}

/* Generic.Prompt */
.gs {
  color: #404040;
  background-color: #ffffff;
}

/* Generic.Strong */
.gu {
  color: #0050a0;
  background-color: #c0e8ff;
}

/* Generic.Subheading */
.gt {
  color: #ff0000;
  background-color: #ffe4e4;
}

/* Generic.Traceback */
.kc {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Constant */
.kd {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Declaration */
.kn {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Namespace */
.kp {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Pseudo */
.kr {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Reserved */
.kt {
  color: #0070e6;
  font-weight: bold;
  background-color: #ffffff;
}

/* Keyword.Type */
.ld {
  color: #404040;
  background-color: #ffffff;
}

/* Literal.Date */
.m {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number */
.s {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String */
.na {
  color: #00aa00;
  font-weight: bold;
  background-color: #ffffff;
}

/* Name.Attribute */
.nb {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Builtin */
.nc {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Class */
.no {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Constant */
.nd {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Decorator */
.ni {
  color: #4a9400;
  background-color: #ffffff;
}

/* Name.Entity */
.ne {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Exception */
.nf {
  color: #00aa00;
  font-weight: bold;
  background-color: #ffffff;
}

/* Name.Function */
.nl {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Label */
.nn {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Namespace */
.nx {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Other */
.py {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Property */
.nt {
  color: #ff7700;
  background-color: #ffffff;
}

/* Name.Tag */
.nv {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Variable */
.ow {
  color: #404040;
  background-color: #ffffff;
}

/* Operator.Word */
.w {
  color: #404040;
  background-color: #ffffff;
}

/* Text.Whitespace */
.mf {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Float */
.mh {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Hex */
.mi {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Integer */
.mo {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Oct */
.sb {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Backtick */
.sc {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Char */
.sd {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Doc */
.s2 {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Double */
.se {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Escape */
.sh {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Heredoc */
.si {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Interpol */
.sx {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Other */
.sr {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Regex */
.s1 {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Single */
.ss {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Symbol */
.bp {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Builtin.Pseudo */
.vc {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Variable.Class */
.vg {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Variable.Global */
.vi {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Variable.Instance */
.il {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Integer.Long */
body {
  line-height: 1.5;
  font-family: "calluna-1", "calluna-2", "Georgia", serif;
  color: #333333;
  font-size: 125%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0 0 1.5em;
}
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

a {
  text-decoration: underline;
  color: #cc2222;
}
a:visited {
  color: #cc2222;
}
a:focus {
  color: #cc2222;
}
a:hover {
  color: #cc2222;
}
a:active {
  color: #ffcc88;
}

blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

strong, dfn {
  font-weight: bold;
}

em, dfn {
  font-style: italic;
}

sup, sub {
  line-height: 0;
}

abbr, acronym {
  border-bottom: 1px dotted #666666;
}

address {
  margin: 0 0 1.5em;
  font-style: italic;
}

del {
  color: #666666;
}

pre {
  margin: 1.5em 0;
  white-space: pre;
}

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

li ul, li ol {
  margin: 0;
}

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5em;
}

table {
  margin-bottom: 1.4em;
  width: 100%;
}

th {
  font-weight: bold;
}

thead th {
  background: #c3d9ff;
}

th, td, caption {
  padding: 4px 10px 4px 5px;
}

table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

tfoot {
  font-style: italic;
}

caption {
  background: #eeeeee;
}

.quiet {
  color: #666666;
}

.loud {
  color: #111111;
}

body .clear {
  clear: both;
}
body .nowrap {
  white-space: nowrap;
}
body .clearfix {
  overflow: hidden;
  *zoom: 1;
}
body .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
body .first {
  margin-left: 0;
  padding-left: 0;
}
body .last {
  margin-right: 0;
  padding-right: 0;
}
body .top {
  margin-top: 0;
  padding-top: 0;
}
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
body .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 800 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(3.75%, rgba(100, 100, 225, 0.25)), color-stop(3.75%, rgba(0, 0, 0, 0)), color-stop(5%, rgba(0, 0, 0, 0)), color-stop(5%, rgba(100, 100, 225, 0.25)), color-stop(8.75%, rgba(100, 100, 225, 0.25)), color-stop(8.75%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(100, 100, 225, 0.25)), color-stop(13.75%, rgba(100, 100, 225, 0.25)), color-stop(13.75%, rgba(0, 0, 0, 0)), color-stop(15%, rgba(0, 0, 0, 0)), color-stop(15%, rgba(100, 100, 225, 0.25)), color-stop(18.75%, rgba(100, 100, 225, 0.25)), color-stop(18.75%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(100, 100, 225, 0.25)), color-stop(23.75%, rgba(100, 100, 225, 0.25)), color-stop(23.75%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(28.75%, rgba(100, 100, 225, 0.25)), color-stop(28.75%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(100, 100, 225, 0.25)), color-stop(33.75%, rgba(100, 100, 225, 0.25)), color-stop(33.75%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(100, 100, 225, 0.25)), color-stop(38.75%, rgba(100, 100, 225, 0.25)), color-stop(38.75%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(100, 100, 225, 0.25)), color-stop(43.75%, rgba(100, 100, 225, 0.25)), color-stop(43.75%, rgba(0, 0, 0, 0)), color-stop(45%, rgba(0, 0, 0, 0)), color-stop(45%, rgba(100, 100, 225, 0.25)), color-stop(48.75%, rgba(100, 100, 225, 0.25)), color-stop(48.75%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(53.75%, rgba(100, 100, 225, 0.25)), color-stop(53.75%, rgba(0, 0, 0, 0)), color-stop(55.0%, rgba(0, 0, 0, 0)), color-stop(55.0%, rgba(100, 100, 225, 0.25)), color-stop(58.75%, rgba(100, 100, 225, 0.25)), color-stop(58.75%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(100, 100, 225, 0.25)), color-stop(63.75%, rgba(100, 100, 225, 0.25)), color-stop(63.75%, rgba(0, 0, 0, 0)), color-stop(65%, rgba(0, 0, 0, 0)), color-stop(65%, rgba(100, 100, 225, 0.25)), color-stop(68.75%, rgba(100, 100, 225, 0.25)), color-stop(68.75%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(100, 100, 225, 0.25)), color-stop(73.75%, rgba(100, 100, 225, 0.25)), color-stop(73.75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(78.75%, rgba(100, 100, 225, 0.25)), color-stop(78.75%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(100, 100, 225, 0.25)), color-stop(83.75%, rgba(100, 100, 225, 0.25)), color-stop(83.75%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(100, 100, 225, 0.25)), color-stop(88.75%, rgba(100, 100, 225, 0.25)), color-stop(88.75%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(100, 100, 225, 0.25)), color-stop(93.75%, rgba(100, 100, 225, 0.25)), color-stop(93.75%, rgba(0, 0, 0, 0)), color-stop(95%, rgba(0, 0, 0, 0)), color-stop(95%, rgba(100, 100, 225, 0.25)), color-stop(98.75%, rgba(100, 100, 225, 0.25)), color-stop(98.75%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px);
  -moz-background-size: 100% 20px, auto;
  -webkit-background-size: 100% 20px, auto;
  -o-background-size: 100% 20px, auto;
  background-size: 100% 20px, auto;
  background-position: left top;
}
body .feedback, body .error, body .alert, body .notice, body .success, body .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
body .error, body .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
body .error a, body .alert a {
  color: #8a1f11;
}
body .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
body .notice a {
  color: #514721;
}
body .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
body .success a {
  color: #264409;
}
body .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
body .info a {
  color: #205791;
}
body .hide {
  display: none;
}
body .highlight {
  background: yellow;
}
body .added {
  background: #006600;
  color: white;
}
body .removed {
  background: #990000;
  color: white;
}

form label {
  font-weight: bold;
}
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
form input.title {
  font-size: 1.5em;
}
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
form select {
  margin: 0.5em 0;
}
form fieldset {
  border: 1px solid #cccccc;
}
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus {
  border: 1px solid #666666;
}
form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px;
}
form textarea {
  width: 390px;
  height: 250px;
}

.container {
  width: 790px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

.header, .full, .not-found {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 790px;
}
* html .header, * html .full, * html .not-found {
  overflow-x: hidden;
}

.header {
  font-size: 1.5em;
  line-height: 1;
  margin-top: 2em;
  margin-bottom: 1em;
}
.header .links a:before {
  content: "\2022";
}

.sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
* html .sidebar {
  overflow-x: hidden;
}

.content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
* html .content {
  overflow-x: hidden;
}

hr {
  background: #bbbbbb;
  color: #bbbbbb;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}

h1 {
  display: inline;
  font-size: 1em;
  line-height: inherit;
  margin-bottom: 0;
}
h1:before {
  content: "It’s ";
  font-style: italic;
}
h1 a {
  font-family: "lobster-1", "lobster-2", sans-serif;
  font-style: normal;
  text-decoration: none;
  color: white !important;
  background: #cc2222;
  padding: 0 0.25em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -khtml-border-radius: 0.25em;
  border-radius: 0.25em;
}
h1 a:hover {
  text-decoration: none;
  color: #cc2222 !important;
  background: #ffcc88;
}

@-moz-document url-prefix() {
  h1 a {
    padding-top: 0.1em;
  }

  html.wf-active h1 a {
    padding-top: 0;
  }
}

.header ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header ul li {
  display: inline;
}
.header ul li:before {
  content: "\00b7";
  color: #666666;
}

h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.sidebar .created, .sidebar .updated, .sidebar .permalink {
  display: block;
}
.sidebar .updated {
  font-size: 0.75em;
  line-height: 2;
  color: #666666;
}

.article .title {
  font-weight: 700;
}
.article .summary {
  font-style: italic;
}
.article time {
  color: #666666;
}
.article p {
  text-align: justify;
}

pre, code, tt {
  font-family: "Monaco", monospace;
  font-size: 0.8em;
}

pre {
  padding: 0 15px;
  margin: 30px 0;
}

.footnotes ol {
  font-size: 0.8em;
  line-height: 1.875em;
}
.footnotes ol p {
  margin: 0;
}

.not-found {
  text-align: center;
}
.not-found:before {
  display: block;
  content: "404";
  font-family: "lobster-1", "lobster-2", sans-serif;
  font-size: 10em;
}
