@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,700,300italic|Ubuntu+Mono|Lobster);
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic) (-webkit-min-device-pixel-ratio: 2);
html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

.hll {
  background-color: #ffffcc;
}

.c {
  color: #666666;
  background-color: #ffffff;
}

/* Comment */
.err {
  color: #404040;
  background-color: #ffffff;
}

/* Error */
.g {
  color: #404040;
  background-color: #ffffff;
}

/* Generic */
.k {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword */
.l {
  color: #404040;
  background-color: #ffffff;
}

/* Literal */
.n {
  color: #404040;
  background-color: #ffffff;
}

/* Name */
.o {
  color: #404040;
  background-color: #ffffff;
}

/* Operator */
.x {
  color: #404040;
  background-color: #ffffff;
}

/* Other */
.p {
  color: #404040;
  background-color: #ffffff;
}

/* Punctuation */
.cm {
  color: #666666;
  background-color: #ffffff;
}

/* Comment.Multiline */
.cp {
  color: #e06800;
  font-weight: bold;
  background-color: #ffffff;
}

/* Comment.Preproc */
.c1, .project code, .article code {
  color: #666666;
  background-color: #ffffff;
}

/* Comment.Single */
.cs {
  color: #666666;
  background-color: #ffffff;
}

/* Comment.Special */
.gd {
  color: #4848ff;
  background-color: #ffd0ff;
}

/* Generic.Deleted */
.ge {
  color: #404040;
  text-decoration: underline;
  background-color: #ffffff;
}

/* Generic.Emph */
.gr {
  color: #ffffff;
  font-weight: bold;
  background-color: #666666;
}

/* Generic.Error */
.gh {
  color: #0050a0;
  background-color: #c0e8ff;
}

/* Generic.Heading */
.gi {
  color: #4848ff;
  background-color: #ffd0ff;
}

/* Generic.Inserted */
.go {
  color: #00a0c0;
  font-weight: bold;
  background-color: #ececec;
}

/* Generic.Output */
.gp {
  color: #404040;
  background-color: #ffffff;
}

/* Generic.Prompt */
.gs {
  color: #404040;
  background-color: #ffffff;
}

/* Generic.Strong */
.gu {
  color: #0050a0;
  background-color: #c0e8ff;
}

/* Generic.Subheading */
.gt {
  color: #ff0000;
  background-color: #ffe4e4;
}

/* Generic.Traceback */
.kc {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Constant */
.kd {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Declaration */
.kn {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Namespace */
.kp {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Pseudo */
.kr {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Reserved */
.kt {
  color: #0070e6;
  font-weight: bold;
  background-color: #ffffff;
}

/* Keyword.Type */
.ld {
  color: #404040;
  background-color: #ffffff;
}

/* Literal.Date */
.m {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number */
.s {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String */
.na {
  color: #00aa00;
  font-weight: bold;
  background-color: #ffffff;
}

/* Name.Attribute */
.nb {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Builtin */
.nc {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Class */
.no {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Constant */
.nd {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Decorator */
.ni {
  color: #4a9400;
  background-color: #ffffff;
}

/* Name.Entity */
.ne {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Exception */
.nf {
  color: #00aa00;
  font-weight: bold;
  background-color: #ffffff;
}

/* Name.Function */
.nl {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Label */
.nn {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Namespace */
.nx {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Other */
.py {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Property */
.nt {
  color: #ff7700;
  background-color: #ffffff;
}

/* Name.Tag */
.nv {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Variable */
.ow {
  color: #404040;
  background-color: #ffffff;
}

/* Operator.Word */
.w {
  color: #404040;
  background-color: #ffffff;
}

/* Text.Whitespace */
.mf {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Float */
.mh {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Hex */
.mi {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Integer */
.mo {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Oct */
.sb {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Backtick */
.sc {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Char */
.sd {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Doc */
.s2 {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Double */
.se {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Escape */
.sh {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Heredoc */
.si {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Interpol */
.sx {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Other */
.sr {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Regex */
.s1 {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Single */
.ss {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Symbol */
.bp {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Builtin.Pseudo */
.vc {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Variable.Class */
.vg {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Variable.Global */
.vi {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Variable.Instance */
.il {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Integer.Long */
body {
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  color: #777777;
  font-size: 87.5%;
  font-weight: 300;
  letter-spacing: 0;
}

@media screen and (min-width: 480px) {
  body {
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    color: #777777;
    font-size: 112.5%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    color: #777777;
    font-weight: 400;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #666666;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0 0 1.5em;
}
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

a {
  text-decoration: underline;
  color: #cc2222;
}
a:visited {
  color: #cc2222;
}
a:focus {
  color: #cc2222;
}
a:hover {
  color: #cc2222;
}
a:active {
  color: #ffcc88;
}

blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

strong, dfn {
  font-weight: bold;
}

em, dfn {
  font-style: italic;
}

sup, sub {
  line-height: 0;
}

abbr, acronym {
  border-bottom: 1px dotted #666666;
}

address {
  margin: 0 0 1.5em;
  font-style: italic;
}

del {
  color: #666666;
}

pre {
  margin: 1.5em 0;
  white-space: pre;
}

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

li ul, li ol {
  margin: 0;
}

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5em;
}

table {
  margin-bottom: 1.4em;
  width: 100%;
}

th {
  font-weight: bold;
}

thead th {
  background: #c3d9ff;
}

th, td, caption {
  padding: 4px 10px 4px 5px;
}

table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

tfoot {
  font-style: italic;
}

caption {
  background: #eeeeee;
}

.quiet {
  color: #aaaaaa;
}

.loud {
  color: #555555;
}

h2 {
  font-size: 1.5em;
  font-weight: inherit;
  line-height: 1;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

pre, code, tt {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1em;
  overflow: auto;
}

.container {
  margin: 20px;
}

@media screen and (min-width: 480px) {
  .index {
    width: 360px;
    margin: 40px auto;
  }
  .index .projects, .index .articles {
    margin-left: -40px;
    font-size: 0px;
  }
  .index .project, .index .article {
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    width: 360px;
    margin-left: 40px;
    margin-bottom: 40px;
  }

  .content {
    margin: 40px auto;
    max-width: 648px;
  }
}
@media screen and (min-width: 768px) {
  .index {
    width: 648px;
    margin: 40px auto;
  }
  .index .projects, .index .articles {
    margin-left: -40px;
    font-size: 0px;
  }
  .index .project, .index .article {
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    width: 304px;
    margin-left: 40px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1112px) {
  .index {
    width: 992px;
    margin: 40px auto;
  }
  .index .projects, .index .articles {
    margin-left: -40px;
    font-size: 0px;
  }
  .index .project, .index .article {
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    width: 304px;
    margin-left: 40px;
    margin-bottom: 40px;
  }
}
@-moz-document url-prefix() {
  h1 a {
    padding-top: 0.1em;
  }

  html.wf-active h1 a {
    padding-top: 0;
  }
}

header {
  text-align: center;
  margin-bottom: 1.5em;
}
header a {
  color: #cc2222;
}
header .logo a {
  font-family: "Lobster", sans-serif;
  font-size: 36px;
  line-height: 1em;
  font-style: normal;
  text-decoration: none;
  color: white !important;
  background: #cc2222;
  display: inline-block;
  width: 150px;
  height: 150px;
  padding-top: 75px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
header .logo a span {
  position: relative;
  top: -1em;
}
header .logo a:hover {
  text-decoration: none;
  color: #cc2222 !important;
  background: #ffcc88;
}

.content header a {
  color: #dddddd;
}
.content header a:hover {
  color: #cc2222;
}
.content header .logo a {
  color: white !important;
  background: #dddddd;
}
.content header .logo a:hover {
  color: #cc2222 !important;
  background: transparent;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.links li {
  display: inline;
}
.links li:before {
  content: "\00b7";
  color: #aaaaaa;
}
.links li:first-child:before {
  display: none;
}

h2 {
  margin-bottom: 1em;
}

.project img {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

.project .title, .article .title {
  font-weight: 700;
}
.project .metadata, .article .metadata {
  color: #aaaaaa;
}
.project .metadata > *, .article .metadata > * {
  display: inline;
}
.project .metadata > *:before, .article .metadata > *:before {
  content: "· ";
  color: #aaaaaa !important;
}
.project .metadata > *:first-child:before, .article .metadata > *:first-child:before {
  display: none;
}
.project .summary, .article .summary {
  font-style: italic;
}
.project p, .article p {
  text-align: justify;
}

.content .article .title, .content .article .metadata {
  text-align: center;
}

.index .article .metadata {
  float: right;
}

pre {
  padding: 0 15px;
  margin: 30px 0;
}

.footnotes ol {
  font-size: 0.8em;
  line-height: 1.875em;
}
.footnotes ol p {
  margin: 0;
}

.not-found {
  text-align: center;
}
.not-found:before {
  display: block;
  content: "404";
  font-family: "Lobster", sans-serif;
  font-size: 10em;
}
