- filter :colorize_syntax, colorizers: { coffeescript: :pygmentize }, pygmentize: { encoding: "utf-8" } do
  - render 'default' do
    %article.article
      %h2
        %span.title= @item[:title]
        = time_tag(@item)

      %details
        %summary= maruku(item[:summary])

      ~ yield

