%article.article.content
  %h2.title= @item[:title]

  .metadata
    .created= time_tag(@item)

    - if @item[:updated_at]
      .updated= 'Updated ' + time_tag(@item, :updated_at)

    %a.permalink{ :href => @item.path } Permalink

  ~ yield

