!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= "A Brand New nanoc Site - #{@item[:title]}"
    %meta{:content => "nanoc 3.1.7", :name => "generator"}
    %link{:href => "/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
    /[if lt IE 8]
      %link{:href => "/stylesheets/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
  %body
    #container
      #sidebar
        %h1 It’s <a href="/">Aanand Prasad</a>.
        %ul
          %li
            %a{:href => "/archive"} Archive
          %li
            %a{:href => "http://twitter.com/aanand"} Twitter
          %li
            %a{:href => "http://github.com/aanand"} Github
      #content
        = yield
            
