/* line 1, ../../compass/sass/pygments.scss */
.hll {
  background-color: #ffffcc;
}

/* line 2, ../../compass/sass/pygments.scss */
.c {
  color: #888888;
  background-color: #141414;
}

/* Comment */
/* line 3, ../../compass/sass/pygments.scss */
.err {
  color: #F8F8F8;
  background-color: #141414;
}

/* Error */
/* line 4, ../../compass/sass/pygments.scss */
.g {
  color: #F8F8F8;
  background-color: #141414;
}

/* Generic */
/* line 5, ../../compass/sass/pygments.scss */
.k {
  color: #ccaa33;
  background-color: #141414;
}

/* Keyword */
/* line 6, ../../compass/sass/pygments.scss */
.l {
  color: #F8F8F8;
  background-color: #141414;
}

/* Literal */
/* line 7, ../../compass/sass/pygments.scss */
.n {
  color: #F8F8F8;
  background-color: #141414;
}

/* Name */
/* line 8, ../../compass/sass/pygments.scss */
.o {
  color: #F8F8F8;
  background-color: #141414;
}

/* Operator */
/* line 9, ../../compass/sass/pygments.scss */
.x {
  color: #F8F8F8;
  background-color: #141414;
}

/* Other */
/* line 10, ../../compass/sass/pygments.scss */
.p {
  color: #F8F8F8;
  background-color: #141414;
}

/* Punctuation */
/* line 11, ../../compass/sass/pygments.scss */
.cm {
  color: #888888;
  background-color: #141414;
}

/* Comment.Multiline */
/* line 12, ../../compass/sass/pygments.scss */
.cp {
  color: #88bbff;
  background-color: #141414;
}

/* Comment.Preproc */
/* line 13, ../../compass/sass/pygments.scss */
.c1 {
  color: #888888;
  background-color: #141414;
}

/* Comment.Single */
/* line 14, ../../compass/sass/pygments.scss */
.cs {
  color: #888888;
  background-color: #141414;
}

/* Comment.Special */
/* line 15, ../../compass/sass/pygments.scss */
.gd {
  color: #F8F8F8;
  background-color: #141414;
}

/* Generic.Deleted */
/* line 16, ../../compass/sass/pygments.scss */
.ge {
  color: #cc4444;
  background-color: #141414;
}

/* Generic.Emph */
/* line 17, ../../compass/sass/pygments.scss */
.gr {
  color: #cc4444;
  background-color: #420E09;
}

/* Generic.Error */
/* line 18, ../../compass/sass/pygments.scss */
.gh {
  color: #8B98AB;
  background-color: #0E2231;
}

/* Generic.Heading */
/* line 19, ../../compass/sass/pygments.scss */
.gi {
  color: #F8F8F8;
  background-color: #141414;
}

/* Generic.Inserted */
/* line 20, ../../compass/sass/pygments.scss */
.go {
  color: #4A4A59;
  background-color: #141414;
}

/* Generic.Output */
/* line 21, ../../compass/sass/pygments.scss */
.gp {
  color: #F8F8F8;
  background-color: #141414;
}

/* Generic.Prompt */
/* line 22, ../../compass/sass/pygments.scss */
.gs {
  color: #F8F8F8;
  background-color: #141414;
}

/* Generic.Strong */
/* line 23, ../../compass/sass/pygments.scss */
.gu {
  color: #8B98AB;
  background-color: #0E2231;
}

/* Generic.Subheading */
/* line 24, ../../compass/sass/pygments.scss */
.gt {
  color: #cc4444;
  background-color: #420E09;
}

/* Generic.Traceback */
/* line 25, ../../compass/sass/pygments.scss */
.kc {
  color: #ccaa33;
  background-color: #141414;
}

/* Keyword.Constant */
/* line 26, ../../compass/sass/pygments.scss */
.kd {
  color: #ccaa33;
  background-color: #141414;
}

/* Keyword.Declaration */
/* line 27, ../../compass/sass/pygments.scss */
.kn {
  color: #ccaa33;
  background-color: #141414;
}

/* Keyword.Namespace */
/* line 28, ../../compass/sass/pygments.scss */
.kp {
  color: #ccaa33;
  background-color: #141414;
}

/* Keyword.Pseudo */
/* line 29, ../../compass/sass/pygments.scss */
.kr {
  color: #ccaa33;
  background-color: #141414;
}

/* Keyword.Reserved */
/* line 30, ../../compass/sass/pygments.scss */
.kt {
  color: #eeff88;
  background-color: #141414;
}

/* Keyword.Type */
/* line 31, ../../compass/sass/pygments.scss */
.ld {
  color: #F8F8F8;
  background-color: #141414;
}

/* Literal.Date */
/* line 32, ../../compass/sass/pygments.scss */
.m {
  color: #ee66aa;
  background-color: #141414;
}

/* Literal.Number */
/* line 33, ../../compass/sass/pygments.scss */
.s {
  color: #ccff66;
  background-color: #141414;
}

/* Literal.String */
/* line 34, ../../compass/sass/pygments.scss */
.na {
  color: #6699ff;
  background-color: #141414;
}

/* Name.Attribute */
/* line 35, ../../compass/sass/pygments.scss */
.nb {
  color: #F8F8F8;
  background-color: #141414;
}

/* Name.Builtin */
/* line 36, ../../compass/sass/pygments.scss */
.nc {
  color: #F8F8F8;
  background-color: #141414;
}

/* Name.Class */
/* line 37, ../../compass/sass/pygments.scss */
.no {
  color: #cc4444;
  background-color: #141414;
}

/* Name.Constant */
/* line 38, ../../compass/sass/pygments.scss */
.nd {
  color: #F8F8F8;
  background-color: #141414;
}

/* Name.Decorator */
/* line 39, ../../compass/sass/pygments.scss */
.ni {
  color: #cc4444;
  background-color: #141414;
}

/* Name.Entity */
/* line 40, ../../compass/sass/pygments.scss */
.ne {
  color: #f0e68c;
  background-color: #141414;
}

/* Name.Exception */
/* line 41, ../../compass/sass/pygments.scss */
.nf {
  color: #6699ff;
  background-color: #141414;
}

/* Name.Function */
/* line 42, ../../compass/sass/pygments.scss */
.nl {
  color: #E9C062;
  background-color: #141414;
}

/* Name.Label */
/* line 43, ../../compass/sass/pygments.scss */
.nn {
  color: #F8F8F8;
  background-color: #141414;
}

/* Name.Namespace */
/* line 44, ../../compass/sass/pygments.scss */
.nx {
  color: #F8F8F8;
  background-color: #141414;
}

/* Name.Other */
/* line 45, ../../compass/sass/pygments.scss */
.py {
  color: #F8F8F8;
  background-color: #141414;
}

/* Name.Property */
/* line 46, ../../compass/sass/pygments.scss */
.nt {
  color: #ccaa33;
  background-color: #141414;
}

/* Name.Tag */
/* line 47, ../../compass/sass/pygments.scss */
.nv {
  color: #88bbff;
  background-color: #141414;
}

/* Name.Variable */
/* line 48, ../../compass/sass/pygments.scss */
.ow {
  color: #cc4444;
  background-color: #141414;
}

/* Operator.Word */
/* line 49, ../../compass/sass/pygments.scss */
.w {
  color: #F8F8F8;
  background-color: #141414;
}

/* Text.Whitespace */
/* line 50, ../../compass/sass/pygments.scss */
.mf {
  color: #aa66ee;
  background-color: #141414;
}

/* Literal.Number.Float */
/* line 51, ../../compass/sass/pygments.scss */
.mh {
  color: #ee66aa;
  background-color: #141414;
}

/* Literal.Number.Hex */
/* line 52, ../../compass/sass/pygments.scss */
.mi {
  color: #ee66aa;
  background-color: #141414;
}

/* Literal.Number.Integer */
/* line 53, ../../compass/sass/pygments.scss */
.mo {
  color: #ee66aa;
  background-color: #141414;
}

/* Literal.Number.Oct */
/* line 54, ../../compass/sass/pygments.scss */
.sb {
  color: #ccff66;
  background-color: #141414;
}

/* Literal.String.Backtick */
/* line 55, ../../compass/sass/pygments.scss */
.sc {
  color: #ccff66;
  background-color: #141414;
}

/* Literal.String.Char */
/* line 56, ../../compass/sass/pygments.scss */
.sd {
  color: #ccff66;
  background-color: #141414;
}

/* Literal.String.Doc */
/* line 57, ../../compass/sass/pygments.scss */
.s2 {
  color: #ccff66;
  background-color: #141414;
}

/* Literal.String.Double */
/* line 58, ../../compass/sass/pygments.scss */
.se {
  color: #ccff66;
  background-color: #141414;
}

/* Literal.String.Escape */
/* line 59, ../../compass/sass/pygments.scss */
.sh {
  color: #ccff66;
  background-color: #141414;
}

/* Literal.String.Heredoc */
/* line 60, ../../compass/sass/pygments.scss */
.si {
  color: #ccff66;
  background-color: #141414;
}

/* Literal.String.Interpol */
/* line 61, ../../compass/sass/pygments.scss */
.sx {
  color: #ccff66;
  background-color: #141414;
}

/* Literal.String.Other */
/* line 62, ../../compass/sass/pygments.scss */
.sr {
  color: #ccff66;
  background-color: #141414;
}

/* Literal.String.Regex */
/* line 63, ../../compass/sass/pygments.scss */
.s1 {
  color: #ccff66;
  background-color: #141414;
}

/* Literal.String.Single */
/* line 64, ../../compass/sass/pygments.scss */
.ss {
  color: #ccff66;
  background-color: #141414;
}

/* Literal.String.Symbol */
/* line 65, ../../compass/sass/pygments.scss */
.bp {
  color: #F8F8F8;
  background-color: #141414;
}

/* Name.Builtin.Pseudo */
/* line 66, ../../compass/sass/pygments.scss */
.vc {
  color: #88bbff;
  background-color: #141414;
}

/* Name.Variable.Class */
/* line 67, ../../compass/sass/pygments.scss */
.vg {
  color: #88bbff;
  background-color: #141414;
}

/* Name.Variable.Global */
/* line 68, ../../compass/sass/pygments.scss */
.vi {
  color: #88bbff;
  background-color: #141414;
}

/* Name.Variable.Instance */
/* line 69, ../../compass/sass/pygments.scss */
.il {
  color: #ee66aa;
  background-color: #141414;
}

/* Literal.Number.Integer.Long */
