/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../compass/sass/partials/_pygments.scss */
.hll {
  background-color: #ffffcc;
}

/* line 2, ../../compass/sass/partials/_pygments.scss */
.c {
  color: #666666;
  background-color: #ffffff;
}

/* Comment */
/* line 3, ../../compass/sass/partials/_pygments.scss */
.err {
  color: #404040;
  background-color: #ffffff;
}

/* Error */
/* line 4, ../../compass/sass/partials/_pygments.scss */
.g {
  color: #404040;
  background-color: #ffffff;
}

/* Generic */
/* line 5, ../../compass/sass/partials/_pygments.scss */
.k {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword */
/* line 6, ../../compass/sass/partials/_pygments.scss */
.l {
  color: #404040;
  background-color: #ffffff;
}

/* Literal */
/* line 7, ../../compass/sass/partials/_pygments.scss */
.n {
  color: #404040;
  background-color: #ffffff;
}

/* Name */
/* line 8, ../../compass/sass/partials/_pygments.scss */
.o {
  color: #404040;
  background-color: #ffffff;
}

/* Operator */
/* line 9, ../../compass/sass/partials/_pygments.scss */
.x {
  color: #404040;
  background-color: #ffffff;
}

/* Other */
/* line 10, ../../compass/sass/partials/_pygments.scss */
.p {
  color: #404040;
  background-color: #ffffff;
}

/* Punctuation */
/* line 11, ../../compass/sass/partials/_pygments.scss */
.cm {
  color: #666666;
  background-color: #ffffff;
}

/* Comment.Multiline */
/* line 12, ../../compass/sass/partials/_pygments.scss */
.cp {
  color: #e06800;
  font-weight: bold;
  background-color: #ffffff;
}

/* Comment.Preproc */
/* line 13, ../../compass/sass/partials/_pygments.scss */
.c1 {
  color: #666666;
  background-color: #ffffff;
}

/* Comment.Single */
/* line 14, ../../compass/sass/partials/_pygments.scss */
.cs {
  color: #666666;
  background-color: #ffffff;
}

/* Comment.Special */
/* line 15, ../../compass/sass/partials/_pygments.scss */
.gd {
  color: #4848ff;
  background-color: #ffd0ff;
}

/* Generic.Deleted */
/* line 16, ../../compass/sass/partials/_pygments.scss */
.ge {
  color: #404040;
  text-decoration: underline;
  background-color: #ffffff;
}

/* Generic.Emph */
/* line 17, ../../compass/sass/partials/_pygments.scss */
.gr {
  color: #ffffff;
  font-weight: bold;
  background-color: #666666;
}

/* Generic.Error */
/* line 18, ../../compass/sass/partials/_pygments.scss */
.gh {
  color: #0050a0;
  background-color: #c0e8ff;
}

/* Generic.Heading */
/* line 19, ../../compass/sass/partials/_pygments.scss */
.gi {
  color: #4848ff;
  background-color: #ffd0ff;
}

/* Generic.Inserted */
/* line 20, ../../compass/sass/partials/_pygments.scss */
.go {
  color: #00a0c0;
  font-weight: bold;
  background-color: #ececec;
}

/* Generic.Output */
/* line 21, ../../compass/sass/partials/_pygments.scss */
.gp {
  color: #404040;
  background-color: #ffffff;
}

/* Generic.Prompt */
/* line 22, ../../compass/sass/partials/_pygments.scss */
.gs {
  color: #404040;
  background-color: #ffffff;
}

/* Generic.Strong */
/* line 23, ../../compass/sass/partials/_pygments.scss */
.gu {
  color: #0050a0;
  background-color: #c0e8ff;
}

/* Generic.Subheading */
/* line 24, ../../compass/sass/partials/_pygments.scss */
.gt {
  color: #ff0000;
  background-color: #ffe4e4;
}

/* Generic.Traceback */
/* line 25, ../../compass/sass/partials/_pygments.scss */
.kc {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Constant */
/* line 26, ../../compass/sass/partials/_pygments.scss */
.kd {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Declaration */
/* line 27, ../../compass/sass/partials/_pygments.scss */
.kn {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Namespace */
/* line 28, ../../compass/sass/partials/_pygments.scss */
.kp {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Pseudo */
/* line 29, ../../compass/sass/partials/_pygments.scss */
.kr {
  color: #ff7700;
  background-color: #ffffff;
}

/* Keyword.Reserved */
/* line 30, ../../compass/sass/partials/_pygments.scss */
.kt {
  color: #0070e6;
  font-weight: bold;
  background-color: #ffffff;
}

/* Keyword.Type */
/* line 31, ../../compass/sass/partials/_pygments.scss */
.ld {
  color: #404040;
  background-color: #ffffff;
}

/* Literal.Date */
/* line 32, ../../compass/sass/partials/_pygments.scss */
.m {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number */
/* line 33, ../../compass/sass/partials/_pygments.scss */
.s {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String */
/* line 34, ../../compass/sass/partials/_pygments.scss */
.na {
  color: #00aa00;
  font-weight: bold;
  background-color: #ffffff;
}

/* Name.Attribute */
/* line 35, ../../compass/sass/partials/_pygments.scss */
.nb {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Builtin */
/* line 36, ../../compass/sass/partials/_pygments.scss */
.nc {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Class */
/* line 37, ../../compass/sass/partials/_pygments.scss */
.no {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Constant */
/* line 38, ../../compass/sass/partials/_pygments.scss */
.nd {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Decorator */
/* line 39, ../../compass/sass/partials/_pygments.scss */
.ni {
  color: #4a9400;
  background-color: #ffffff;
}

/* Name.Entity */
/* line 40, ../../compass/sass/partials/_pygments.scss */
.ne {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Exception */
/* line 41, ../../compass/sass/partials/_pygments.scss */
.nf {
  color: #00aa00;
  font-weight: bold;
  background-color: #ffffff;
}

/* Name.Function */
/* line 42, ../../compass/sass/partials/_pygments.scss */
.nl {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Label */
/* line 43, ../../compass/sass/partials/_pygments.scss */
.nn {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Namespace */
/* line 44, ../../compass/sass/partials/_pygments.scss */
.nx {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Other */
/* line 45, ../../compass/sass/partials/_pygments.scss */
.py {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Property */
/* line 46, ../../compass/sass/partials/_pygments.scss */
.nt {
  color: #ff7700;
  background-color: #ffffff;
}

/* Name.Tag */
/* line 47, ../../compass/sass/partials/_pygments.scss */
.nv {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Variable */
/* line 48, ../../compass/sass/partials/_pygments.scss */
.ow {
  color: #404040;
  background-color: #ffffff;
}

/* Operator.Word */
/* line 49, ../../compass/sass/partials/_pygments.scss */
.w {
  color: #404040;
  background-color: #ffffff;
}

/* Text.Whitespace */
/* line 50, ../../compass/sass/partials/_pygments.scss */
.mf {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Float */
/* line 51, ../../compass/sass/partials/_pygments.scss */
.mh {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Hex */
/* line 52, ../../compass/sass/partials/_pygments.scss */
.mi {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Integer */
/* line 53, ../../compass/sass/partials/_pygments.scss */
.mo {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Oct */
/* line 54, ../../compass/sass/partials/_pygments.scss */
.sb {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Backtick */
/* line 55, ../../compass/sass/partials/_pygments.scss */
.sc {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Char */
/* line 56, ../../compass/sass/partials/_pygments.scss */
.sd {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Doc */
/* line 57, ../../compass/sass/partials/_pygments.scss */
.s2 {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Double */
/* line 58, ../../compass/sass/partials/_pygments.scss */
.se {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Escape */
/* line 59, ../../compass/sass/partials/_pygments.scss */
.sh {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Heredoc */
/* line 60, ../../compass/sass/partials/_pygments.scss */
.si {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Interpol */
/* line 61, ../../compass/sass/partials/_pygments.scss */
.sx {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Other */
/* line 62, ../../compass/sass/partials/_pygments.scss */
.sr {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Regex */
/* line 63, ../../compass/sass/partials/_pygments.scss */
.s1 {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Single */
/* line 64, ../../compass/sass/partials/_pygments.scss */
.ss {
  color: #00aa00;
  background-color: #ffffff;
}

/* Literal.String.Symbol */
/* line 65, ../../compass/sass/partials/_pygments.scss */
.bp {
  color: #404040;
  background-color: #ffffff;
}

/* Name.Builtin.Pseudo */
/* line 66, ../../compass/sass/partials/_pygments.scss */
.vc {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Variable.Class */
/* line 67, ../../compass/sass/partials/_pygments.scss */
.vg {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Variable.Global */
/* line 68, ../../compass/sass/partials/_pygments.scss */
.vi {
  color: #0070e6;
  background-color: #ffffff;
}

/* Name.Variable.Instance */
/* line 69, ../../compass/sass/partials/_pygments.scss */
.il {
  color: #aa0094;
  background-color: #ffffff;
}

/* Literal.Number.Integer.Long */
/* line 33, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Baskerville", "Georgia", serif;
  color: #333333;
  font-size: 125%;
}

/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 53, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 54, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 56, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 57, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 58, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 59, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 62, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #882222;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #5f1818;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #882222;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #882222;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #90b12c;
}

/* line 63, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 64, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 66, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 68, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 69, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 70, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 71, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 72, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 73, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 74, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 75, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 76, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 78, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 79, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 80, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 81, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 82, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 85, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

/* line 86, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 87, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 88, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 89, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 8, ../../compass/sass/screen.sass */
body {
  margin-top: 100px;
}
/* line 9, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clear {
  clear: both;
}
/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 960 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(3.958%, rgba(100, 100, 225, 0.25)), color-stop(3.958%, rgba(0, 0, 0, 0)), color-stop(5%, rgba(0, 0, 0, 0)), color-stop(5%, rgba(100, 100, 225, 0.25)), color-stop(8.958%, rgba(100, 100, 225, 0.25)), color-stop(8.958%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(100, 100, 225, 0.25)), color-stop(13.958%, rgba(100, 100, 225, 0.25)), color-stop(13.958%, rgba(0, 0, 0, 0)), color-stop(15%, rgba(0, 0, 0, 0)), color-stop(15%, rgba(100, 100, 225, 0.25)), color-stop(18.958%, rgba(100, 100, 225, 0.25)), color-stop(18.958%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(100, 100, 225, 0.25)), color-stop(23.958%, rgba(100, 100, 225, 0.25)), color-stop(23.958%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(28.958%, rgba(100, 100, 225, 0.25)), color-stop(28.958%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(100, 100, 225, 0.25)), color-stop(33.958%, rgba(100, 100, 225, 0.25)), color-stop(33.958%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(100, 100, 225, 0.25)), color-stop(38.958%, rgba(100, 100, 225, 0.25)), color-stop(38.958%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(100, 100, 225, 0.25)), color-stop(43.958%, rgba(100, 100, 225, 0.25)), color-stop(43.958%, rgba(0, 0, 0, 0)), color-stop(45%, rgba(0, 0, 0, 0)), color-stop(45%, rgba(100, 100, 225, 0.25)), color-stop(48.958%, rgba(100, 100, 225, 0.25)), color-stop(48.958%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(53.958%, rgba(100, 100, 225, 0.25)), color-stop(53.958%, rgba(0, 0, 0, 0)), color-stop(55.0%, rgba(0, 0, 0, 0)), color-stop(55.0%, rgba(100, 100, 225, 0.25)), color-stop(58.958%, rgba(100, 100, 225, 0.25)), color-stop(58.958%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(100, 100, 225, 0.25)), color-stop(63.958%, rgba(100, 100, 225, 0.25)), color-stop(63.958%, rgba(0, 0, 0, 0)), color-stop(65%, rgba(0, 0, 0, 0)), color-stop(65%, rgba(100, 100, 225, 0.25)), color-stop(68.958%, rgba(100, 100, 225, 0.25)), color-stop(68.958%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(100, 100, 225, 0.25)), color-stop(73.958%, rgba(100, 100, 225, 0.25)), color-stop(73.958%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(78.958%, rgba(100, 100, 225, 0.25)), color-stop(78.958%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(100, 100, 225, 0.25)), color-stop(83.958%, rgba(100, 100, 225, 0.25)), color-stop(83.958%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(100, 100, 225, 0.25)), color-stop(88.958%, rgba(100, 100, 225, 0.25)), color-stop(88.958%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(100, 100, 225, 0.25)), color-stop(93.958%, rgba(100, 100, 225, 0.25)), color-stop(93.958%, rgba(0, 0, 0, 0)), color-stop(95%, rgba(0, 0, 0, 0)), color-stop(95%, rgba(100, 100, 225, 0.25)), color-stop(98.958%, rgba(100, 100, 225, 0.25)), color-stop(98.958%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 38px, rgba(0, 0, 0, 0) 38px, rgba(0, 0, 0, 0) 48px, rgba(100, 100, 225, 0.25) 48px, rgba(100, 100, 225, 0.25) 86px, rgba(0, 0, 0, 0) 86px, rgba(0, 0, 0, 0) 96px, rgba(100, 100, 225, 0.25) 96px, rgba(100, 100, 225, 0.25) 134px, rgba(0, 0, 0, 0) 134px, rgba(0, 0, 0, 0) 144px, rgba(100, 100, 225, 0.25) 144px, rgba(100, 100, 225, 0.25) 182px, rgba(0, 0, 0, 0) 182px, rgba(0, 0, 0, 0) 192px, rgba(100, 100, 225, 0.25) 192px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 278px, rgba(0, 0, 0, 0) 278px, rgba(0, 0, 0, 0) 288px, rgba(100, 100, 225, 0.25) 288px, rgba(100, 100, 225, 0.25) 326px, rgba(0, 0, 0, 0) 326px, rgba(0, 0, 0, 0) 336px, rgba(100, 100, 225, 0.25) 336px, rgba(100, 100, 225, 0.25) 374px, rgba(0, 0, 0, 0) 374px, rgba(0, 0, 0, 0) 384px, rgba(100, 100, 225, 0.25) 384px, rgba(100, 100, 225, 0.25) 422px, rgba(0, 0, 0, 0) 422px, rgba(0, 0, 0, 0) 432px, rgba(100, 100, 225, 0.25) 432px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 518px, rgba(0, 0, 0, 0) 518px, rgba(0, 0, 0, 0) 528px, rgba(100, 100, 225, 0.25) 528px, rgba(100, 100, 225, 0.25) 566px, rgba(0, 0, 0, 0) 566px, rgba(0, 0, 0, 0) 576px, rgba(100, 100, 225, 0.25) 576px, rgba(100, 100, 225, 0.25) 614px, rgba(0, 0, 0, 0) 614px, rgba(0, 0, 0, 0) 624px, rgba(100, 100, 225, 0.25) 624px, rgba(100, 100, 225, 0.25) 662px, rgba(0, 0, 0, 0) 662px, rgba(0, 0, 0, 0) 672px, rgba(100, 100, 225, 0.25) 672px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 758px, rgba(0, 0, 0, 0) 758px, rgba(0, 0, 0, 0) 768px, rgba(100, 100, 225, 0.25) 768px, rgba(100, 100, 225, 0.25) 806px, rgba(0, 0, 0, 0) 806px, rgba(0, 0, 0, 0) 816px, rgba(100, 100, 225, 0.25) 816px, rgba(100, 100, 225, 0.25) 854px, rgba(0, 0, 0, 0) 854px, rgba(0, 0, 0, 0) 864px, rgba(100, 100, 225, 0.25) 864px, rgba(100, 100, 225, 0.25) 902px, rgba(0, 0, 0, 0) 902px, rgba(0, 0, 0, 0) 912px, rgba(100, 100, 225, 0.25) 912px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 38px, rgba(0, 0, 0, 0) 38px, rgba(0, 0, 0, 0) 48px, rgba(100, 100, 225, 0.25) 48px, rgba(100, 100, 225, 0.25) 86px, rgba(0, 0, 0, 0) 86px, rgba(0, 0, 0, 0) 96px, rgba(100, 100, 225, 0.25) 96px, rgba(100, 100, 225, 0.25) 134px, rgba(0, 0, 0, 0) 134px, rgba(0, 0, 0, 0) 144px, rgba(100, 100, 225, 0.25) 144px, rgba(100, 100, 225, 0.25) 182px, rgba(0, 0, 0, 0) 182px, rgba(0, 0, 0, 0) 192px, rgba(100, 100, 225, 0.25) 192px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 278px, rgba(0, 0, 0, 0) 278px, rgba(0, 0, 0, 0) 288px, rgba(100, 100, 225, 0.25) 288px, rgba(100, 100, 225, 0.25) 326px, rgba(0, 0, 0, 0) 326px, rgba(0, 0, 0, 0) 336px, rgba(100, 100, 225, 0.25) 336px, rgba(100, 100, 225, 0.25) 374px, rgba(0, 0, 0, 0) 374px, rgba(0, 0, 0, 0) 384px, rgba(100, 100, 225, 0.25) 384px, rgba(100, 100, 225, 0.25) 422px, rgba(0, 0, 0, 0) 422px, rgba(0, 0, 0, 0) 432px, rgba(100, 100, 225, 0.25) 432px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 518px, rgba(0, 0, 0, 0) 518px, rgba(0, 0, 0, 0) 528px, rgba(100, 100, 225, 0.25) 528px, rgba(100, 100, 225, 0.25) 566px, rgba(0, 0, 0, 0) 566px, rgba(0, 0, 0, 0) 576px, rgba(100, 100, 225, 0.25) 576px, rgba(100, 100, 225, 0.25) 614px, rgba(0, 0, 0, 0) 614px, rgba(0, 0, 0, 0) 624px, rgba(100, 100, 225, 0.25) 624px, rgba(100, 100, 225, 0.25) 662px, rgba(0, 0, 0, 0) 662px, rgba(0, 0, 0, 0) 672px, rgba(100, 100, 225, 0.25) 672px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 758px, rgba(0, 0, 0, 0) 758px, rgba(0, 0, 0, 0) 768px, rgba(100, 100, 225, 0.25) 768px, rgba(100, 100, 225, 0.25) 806px, rgba(0, 0, 0, 0) 806px, rgba(0, 0, 0, 0) 816px, rgba(100, 100, 225, 0.25) 816px, rgba(100, 100, 225, 0.25) 854px, rgba(0, 0, 0, 0) 854px, rgba(0, 0, 0, 0) 864px, rgba(100, 100, 225, 0.25) 864px, rgba(100, 100, 225, 0.25) 902px, rgba(0, 0, 0, 0) 902px, rgba(0, 0, 0, 0) 912px, rgba(100, 100, 225, 0.25) 912px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 38px, rgba(0, 0, 0, 0) 38px, rgba(0, 0, 0, 0) 48px, rgba(100, 100, 225, 0.25) 48px, rgba(100, 100, 225, 0.25) 86px, rgba(0, 0, 0, 0) 86px, rgba(0, 0, 0, 0) 96px, rgba(100, 100, 225, 0.25) 96px, rgba(100, 100, 225, 0.25) 134px, rgba(0, 0, 0, 0) 134px, rgba(0, 0, 0, 0) 144px, rgba(100, 100, 225, 0.25) 144px, rgba(100, 100, 225, 0.25) 182px, rgba(0, 0, 0, 0) 182px, rgba(0, 0, 0, 0) 192px, rgba(100, 100, 225, 0.25) 192px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 278px, rgba(0, 0, 0, 0) 278px, rgba(0, 0, 0, 0) 288px, rgba(100, 100, 225, 0.25) 288px, rgba(100, 100, 225, 0.25) 326px, rgba(0, 0, 0, 0) 326px, rgba(0, 0, 0, 0) 336px, rgba(100, 100, 225, 0.25) 336px, rgba(100, 100, 225, 0.25) 374px, rgba(0, 0, 0, 0) 374px, rgba(0, 0, 0, 0) 384px, rgba(100, 100, 225, 0.25) 384px, rgba(100, 100, 225, 0.25) 422px, rgba(0, 0, 0, 0) 422px, rgba(0, 0, 0, 0) 432px, rgba(100, 100, 225, 0.25) 432px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 518px, rgba(0, 0, 0, 0) 518px, rgba(0, 0, 0, 0) 528px, rgba(100, 100, 225, 0.25) 528px, rgba(100, 100, 225, 0.25) 566px, rgba(0, 0, 0, 0) 566px, rgba(0, 0, 0, 0) 576px, rgba(100, 100, 225, 0.25) 576px, rgba(100, 100, 225, 0.25) 614px, rgba(0, 0, 0, 0) 614px, rgba(0, 0, 0, 0) 624px, rgba(100, 100, 225, 0.25) 624px, rgba(100, 100, 225, 0.25) 662px, rgba(0, 0, 0, 0) 662px, rgba(0, 0, 0, 0) 672px, rgba(100, 100, 225, 0.25) 672px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 758px, rgba(0, 0, 0, 0) 758px, rgba(0, 0, 0, 0) 768px, rgba(100, 100, 225, 0.25) 768px, rgba(100, 100, 225, 0.25) 806px, rgba(0, 0, 0, 0) 806px, rgba(0, 0, 0, 0) 816px, rgba(100, 100, 225, 0.25) 816px, rgba(100, 100, 225, 0.25) 854px, rgba(0, 0, 0, 0) 854px, rgba(0, 0, 0, 0) 864px, rgba(100, 100, 225, 0.25) 864px, rgba(100, 100, 225, 0.25) 902px, rgba(0, 0, 0, 0) 902px, rgba(0, 0, 0, 0) 912px, rgba(100, 100, 225, 0.25) 912px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 38px, rgba(0, 0, 0, 0) 38px, rgba(0, 0, 0, 0) 48px, rgba(100, 100, 225, 0.25) 48px, rgba(100, 100, 225, 0.25) 86px, rgba(0, 0, 0, 0) 86px, rgba(0, 0, 0, 0) 96px, rgba(100, 100, 225, 0.25) 96px, rgba(100, 100, 225, 0.25) 134px, rgba(0, 0, 0, 0) 134px, rgba(0, 0, 0, 0) 144px, rgba(100, 100, 225, 0.25) 144px, rgba(100, 100, 225, 0.25) 182px, rgba(0, 0, 0, 0) 182px, rgba(0, 0, 0, 0) 192px, rgba(100, 100, 225, 0.25) 192px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 278px, rgba(0, 0, 0, 0) 278px, rgba(0, 0, 0, 0) 288px, rgba(100, 100, 225, 0.25) 288px, rgba(100, 100, 225, 0.25) 326px, rgba(0, 0, 0, 0) 326px, rgba(0, 0, 0, 0) 336px, rgba(100, 100, 225, 0.25) 336px, rgba(100, 100, 225, 0.25) 374px, rgba(0, 0, 0, 0) 374px, rgba(0, 0, 0, 0) 384px, rgba(100, 100, 225, 0.25) 384px, rgba(100, 100, 225, 0.25) 422px, rgba(0, 0, 0, 0) 422px, rgba(0, 0, 0, 0) 432px, rgba(100, 100, 225, 0.25) 432px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 518px, rgba(0, 0, 0, 0) 518px, rgba(0, 0, 0, 0) 528px, rgba(100, 100, 225, 0.25) 528px, rgba(100, 100, 225, 0.25) 566px, rgba(0, 0, 0, 0) 566px, rgba(0, 0, 0, 0) 576px, rgba(100, 100, 225, 0.25) 576px, rgba(100, 100, 225, 0.25) 614px, rgba(0, 0, 0, 0) 614px, rgba(0, 0, 0, 0) 624px, rgba(100, 100, 225, 0.25) 624px, rgba(100, 100, 225, 0.25) 662px, rgba(0, 0, 0, 0) 662px, rgba(0, 0, 0, 0) 672px, rgba(100, 100, 225, 0.25) 672px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 758px, rgba(0, 0, 0, 0) 758px, rgba(0, 0, 0, 0) 768px, rgba(100, 100, 225, 0.25) 768px, rgba(100, 100, 225, 0.25) 806px, rgba(0, 0, 0, 0) 806px, rgba(0, 0, 0, 0) 816px, rgba(100, 100, 225, 0.25) 816px, rgba(100, 100, 225, 0.25) 854px, rgba(0, 0, 0, 0) 854px, rgba(0, 0, 0, 0) 864px, rgba(100, 100, 225, 0.25) 864px, rgba(100, 100, 225, 0.25) 902px, rgba(0, 0, 0, 0) 902px, rgba(0, 0, 0, 0) 912px, rgba(100, 100, 225, 0.25) 912px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  -moz-background-size: 100% 20px, auto;
  -webkit-background-size: 100% 20px, auto;
  -o-background-size: 100% 20px, auto;
  background-size: 100% 20px, auto;
  background-position: left top;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .feedback, body .error, body .alert, body .notice, body .success, body .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error, body .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .error a, body .alert a {
  color: #8a1f11;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .notice a {
  color: #514721;
}
/* line 8, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .success a {
  color: #264409;
}
/* line 9, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .info a {
  color: #205791;
}
/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .hide {
  display: none;
}
/* line 11, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .highlight {
  background: yellow;
}
/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body .removed {
  background: #990000;
  color: white;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form label {
  font-weight: bold;
}
/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  margin: 0.5em 0;
}
/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus {
  border: 1px solid #666666;
}
/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px;
}
/* line 46, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  width: 390px;
  height: 250px;
}

/* line 17, ../../compass/sass/screen.sass */
#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 21, ../../compass/sass/screen.sass */
#sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  padding-right: 48px;
  text-align: right;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #sidebar {
  overflow-x: hidden;
}
/* line 27, ../../compass/sass/screen.sass */
#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 32, ../../compass/sass/screen.sass */
#sidebar ul li a:after {
  content: ".";
}

/* line 35, ../../compass/sass/screen.sass */
#content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 662px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p136/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content {
  overflow-x: hidden;
}

/* line 39, ../../compass/sass/screen.sass */
h1 {
  font-size: 1em;
  font-style: italic;
  line-height: inherit;
  margin-bottom: 0;
}
/* line 45, ../../compass/sass/screen.sass */
h1 a {
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222 !important;
}
/* line 52, ../../compass/sass/screen.sass */
h1 a:hover {
  color: #882222 !important;
}

/* line 55, ../../compass/sass/screen.sass */
h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
  font-weight: bold;
}

/* line 61, ../../compass/sass/screen.sass */
a {
  text-decoration: none;
}
/* line 64, ../../compass/sass/screen.sass */
a:hover {
  text-decoration: underline;
}

/* line 68, ../../compass/sass/screen.sass */
.article .title {
  font-weight: bold;
}
/* line 71, ../../compass/sass/screen.sass */
.article .title:after {
  content: ".";
}
/* line 74, ../../compass/sass/screen.sass */
.article time {
  font-weight: normal;
  color: #666666;
}
/* line 78, ../../compass/sass/screen.sass */
.article p {
  text-align: justify;
}

/* line 81, ../../compass/sass/screen.sass */
pre, code, tt {
  font-family: "Monaco", monospace;
  font-size: 0.9em;
  line-height: 30px;
}

/* line 86, ../../compass/sass/screen.sass */
pre {
  padding: 0 15px;
  margin: 30px 0;
}

/* line 90, ../../compass/sass/screen.sass */
hr {
  background: #666666;
  color: #666666;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}

/* line 94, ../../compass/sass/screen.sass */
.footnotes ol {
  font-size: 0.8em;
  line-height: 1.875em;
}
/* line 98, ../../compass/sass/screen.sass */
.footnotes ol p {
  margin: 0;
}
